/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

/* Carousel Styles */
#anime-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las imágenes */
}

.anime-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    width: 150px; /* Ancho del contenedor */
}

.anime-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.anime-item p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
